<h1>Editing Quick Button</h1>

<%= render 'quick_button_form', quick_button: @quick_button %>

<div class="entity-view-footer-links">
  <%= link_to 'Show', @quick_button %> |
  <%= link_to 'Back', quick_buttons_path %>
</div>
