# Project private files
/config/secrets.yml

# rails things
/public/assets
/db/*.sqlite3
/db/*.sqlite3-journal
/.bundle/
/vendor/bundle/


# yarn files
node_modules

# IDE environmets
/.idea
/nbproject

# Temporary files
*.bak
*~
*autosave
/tmp/*
/log/*.log*
*.log
*.swp
.byebug_history
