# Project private files
/config/secrets.yml

# rails sqlite db
/db/*.sqlite3
/db/*.sqlite3-journal

# IDE environmets
/.idea
/nbproject

# Temporary files
*.bak
*~
*autosave
/tmp/*
/log/*.log*
*.log
*.swp
.byebug_history
