<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="login-logo"></div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-center">
      Πανεπηστημιο δυτικής μακεδονίας
      <br>
      Πολυτεχνική Σχολή
      <br>
      Τμήμα Μηχανικών Πληροφορικής και Τηλεπικοινωνιών
    </div>
  </div>
  <div class="col-md-3"></div>
</div>