<h1>Editing Device</h1>

<%= render partial: 'device', object: @device, locals: { device_form_template: @device_form_template} %>

<hr>

<%= link_to 'Show', @device %> |
<%= link_to 'Back', devices_path %>
