<%= fields_for :prefix, value_type do |value_type_form| %>

  <div class="row">

    <div class="col-xs-2">
      <div class="field form-group">
        <%= value_type_form.text_field :id, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="field form-group">
        <%= value_type_form.text_field :name, class: 'form-control' %>
      </div>
    </div>

  </div>

<% end %>
