<div class="actions-form-container">

  <div class="actions-header">

    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <%= label(Action, :device_attribute_id) %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= label(Action, :device_attribute_start_value) %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= label(Action, :device_attribute_end_value) %>
        </div>
      </div>

    </div>

  </div>

  <div class="actions-container">
    <% if actions.any? %>
      <% actions.each do |action| %>
        <% if action.device_attribute.direction_c_id == DeviceAttribute::DIRECTIONS[:SIGNALING_AND_FEEDBACK][:ID] || action.device_attribute.direction_c_id == DeviceAttribute::DIRECTIONS[:SIGNALING_ONLY][:ID] %>
          <%= render partial: '/actions/action_form_element', locals: { action: action, prefix_for_subform: prefix_for_subform } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
