<div class="actions-form-container">

  <div class="actions-header">

    <div class="row">

      <div class="col-xs-3">
        <div class="form-group">
          <%= label(Action, :attribute_id, 'Attribute Name') %>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="form-group">
          <%= label(Action, :attribute_value, 'Attribute Start Value') %>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <%= label(Action, :attribute_value, 'Attribute End Value') %>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <label>Action</label>
        </div>
      </div>

    </div>

  </div>

  <div class="actions-container">
    <% if actions.any? %>
      <%= render partial: '/actions/action_form_element', collection: actions, as: :action, locals: { prefix_for_subform: prefix_for_subform } %>
    <% end %>
  </div>

</div>
