<% provide(:title, 'Edit Schedule') %>

<div class="well">
  <h1>Editing Schedule</h1>
</div>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>
