# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  mqtt:
    host: 'home-auto.eu'
    port: 1883
  site:
    host: 'application.domain'
    port:
	configs:
		web_console_whitelist_ips: [] # array of strings with ip, see web-console doc for help
    time_diff_to_consider_device_as_active_in_seconds: 300
    device_detail_show_view_update_interval_in_seconds: 65
    send_email_notification_after_device_offine_period_in_minutes: 60
  secret_key_base: 'ena_dio_tria!'
  devise_secret_key: 'development_mode_for_devise'
  secret_token: 'toekn_is_higly_secure'
  mail:
    host: 'smtp.gmail.com'
    port: '587'
    username: 'asdf'
    from: 'asdf'
    pass: 'asfdsdf'
    domain:
  database:
    username: 'asfsdf'
    password: 'asdfsdf'

test:
  site:
    host: 'application.domain'
    port:
	configs:
		web_console_whitelist_ips: [] # array of strings with ip, see web-console doc for help
    time_diff_to_consider_device_as_active_in_seconds: 300
    device_detail_show_view_update_interval_in_seconds: 65
    send_email_notification_after_device_offine_period_in_minutes: 60
  secret_key_base: 'asfales_key'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  mqtt:
    host: 'home-auto.eu'
    port: 1883
  site:
    host: 'application.domain'
    port:
	configs:
		web_console_whitelist_ips: [] # array of strings with ip, see web-console doc for help
    time_diff_to_consider_device_as_active_in_seconds: 300
    device_detail_show_view_update_interval_in_seconds: 65
    send_email_notification_after_device_offine_period_in_minutes: 60
  secret_key_base: 'adfasdfdsfdsf' #<%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key: 'sdfsdfsd'
  secret_token: 'toekn_is_higly_secure_for_production_mode'
  mail:
    host: 'smtp.gmail.com'
    port: '587'
    username: 'asdfsdf'
    from: 'asdf'
    pass: 'asdfasf'
    domain: 'sdfsdf'
  database:
    username: 'sdfasdf'
    password: 'asdfsdf'
