@media screen and (max-width: 991px) {
  .responsive-table {
    padding: 0 15px;
    #device-attributes-header {
      display: none;
    }
    .row {
      margin-bottom: 10px;
      display: block;
      border: 1px solid #ddd;
      .col-md-2 {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
        &:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          font-size: 200%;
        }
        &:last-child {
          border-bottom: 0;
        }
        .form-group {
          font-size: 200%;
          margin: 15px 0;
        }
      }
    }
  }

  .responsive-table-container.panel-default {
    border: none;
  }

}
