.schedule-event {
  padding: 10px 10px 0 10px;
  &:not(:last-child) {
    border-bottom: solid 1px;
  }
  &.even {
    background-color: darkorange;
  }
  &.odd {
    background-color: cadetblue;
  }
}
