#include <avr/pgmspace.h>

// device information
const char DEVICE_SERIAL_NUMBER[] =  "123456"; // Put device UID from application here
const char DEVICE_ACCESS_TOKEN[] = "asdfasdf";

// time settings
const int timeZone = 2; // Athens (consider DST changes)
const byte ntpTimeServerAddress[] = {192, 168, 1, 1};

// application server information
const char applicationServerUrl[] = "local.domain";
const unsigned int applicationServerPort = 1234;
const char mqttServerUrl[] = "local.domain";
const unsigned int mqttServerPort = 1883;
const unsigned int localUdpPort = 8888;  // local port to listen for UDP packets
const PROGMEM char apiBaseUrl[] = "/api/v1/devices";
const PROGMEM char deviceDataRequestUri[] = "/get_info?";
const PROGMEM char deviceInfosUpdateUri[] = "/infos_update";
const PROGMEM char deviceAttributesUpdateUri[] = "/attributes_status_update";
