<footer class="footer">
  <small>
    THE <a href="http://tasloum.eu/">TASLOUM</a>
    by Tas Loum
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://tasloum/">News</a></li>
    </ul>
  </nav>
</footer>
